<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746932822200-426gj4era2ccktag6iini443nirv2210.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746932822200-426gj4era2ccktag6iini443nirv2210</string>
	<key>API_KEY</key>
	<string>AIzaSyBHC0XnJa3zLL-ha2yQGQoeKRiZHAOyzHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>746932822200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetcan.seyhan.Uber-Clone</string>
	<key>PROJECT_ID</key>
	<string>swiftuberclone</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuberclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746932822200:ios:777eed18e32ef7f953944d</string>
</dict>
</plist>